build/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.exe
*.a
*.lib
*.so
*.dll
*.pdb
*.ilk
*.exp
*.app
compile_commands.json
.cache/
.vs/
.vscode/ipch/
*.user
